In [1]:
import numpy as np
import pandas as pd

#### 1 创建一个Series 对象

In [4]:
series1 = pd.Series([i for i in range(1,10,2)])

In [5]:
series1

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [6]:
type(series1)

pandas.core.series.Series

In [9]:
series2 = pd.Series([i for i in range (1,10,2)], index = ['a','b','c','d','e'],name = 'This is series2')

In [10]:
series2

a    1
b    3
c    5
d    7
e    9
Name: This is series2, dtype: int64

In [12]:
series3 = pd.Series({'北京': 2.90,'上海':3.32,'广东':8.99})

In [13]:
series3

上海    3.32
北京    2.90
广东    8.99
dtype: float64

In [14]:
series1.values

array([1, 3, 5, 7, 9])

In [16]:
series2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
series2.index.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [18]:
series1.ndim

1

In [19]:
series3[0:3]

上海    3.32
北京    2.90
广东    8.99
dtype: float64

In [20]:
series3['北京':'广东']

北京    2.90
广东    8.99
dtype: float64

In [22]:
series4 = pd.Series({'四川':1.78,'陕西':2.34})
series4.append(series3)

四川    1.78
陕西    2.34
上海    3.32
北京    2.90
广东    8.99
dtype: float64

In [25]:
series3['北京'] = 2.8

In [26]:
series3

上海    3.32
北京    2.80
广东    8.99
dtype: float64

In [28]:
series4.drop('四川') #未加 inplace = True 只是返回视图

陕西    2.34
dtype: float64

In [29]:
series4

四川    1.78
陕西    2.34
dtype: float64

In [33]:
series4.drop('四川',inplace = True)

In [34]:
series4

陕西    2.34
dtype: float64