In [1]:
import pandas as pd
import numpy as np

#### pd.DataFrame(data, index, dtype, columns)

In [4]:
list = [['张三',23,'男'],['李四', 47, '女'],['王二', 26, '男']]

In [8]:
df1 = pd.DataFrame(list,columns = ['姓名','年龄','性别'])
df1

   姓名  年龄 性别
0  张三  23  男
1  李四  47  女
2  王二  26  男

In [19]:
df2 = pd.DataFrame({'姓名':['张三','李四','王二'],'年龄':[23,47,26],'性别':['male','female','male']})
df2

   姓名  年龄      性别
0  张三  23    male
1  李四  47  female
2  王二  26    male

In [15]:
array1 = np.array(list)

In [16]:
array1

array([['张三', '23', '男'],
       ['李四', '47', '女'],
       ['王二', '26', '男']], dtype='<U2')

In [18]:
df3 = pd.DataFrame(array1,columns = ['姓名','年龄','性别'],index = ['a','b','c'])
df3

   姓名  年龄 性别
a  张三  23  男
b  李四  47  女
c  王二  26  男

In [21]:
df3.values

array([['张三', '23', '男'],
       ['李四', '47', '女'],
       ['王二', '26', '男']], dtype=object)

In [22]:
df3.shape

(3, 3)

In [23]:
df3.dtypes

姓名    object
年龄    object
性别    object
dtype: object

In [24]:
df2.columns.tolist()

['姓名', '年龄', '性别']

In [26]:
df3.ndim

2

In [27]:
df2.size

9

In [28]:
df3.index

Index(['a', 'b', 'c'], dtype='object')

In [29]:
df2.index.tolist()

[0, 1, 2]